.App {
    font-family: 'American Typewriter';
}

.parent {
    height: 100%;
    font-family: Courier;
    border-radius: 0 !important;
}

.totalApp {
    background: url("https://wallpapercave.com/wp/wp4339302.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed !important;
}

.Approutes {

    background: url("https://wallpapercave.com/wp/wp4339302.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed !important;

}

.transparentBackground {
    background-color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 0 !important;
    padding: 7px;
}

.transparentBackground-fit {
    background-color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 0 !important;
    padding: 7px;
    width: fit-content
}

.transparentBackground-report {
    background-color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 0 !important;
    padding: 7px;
    margin-top: 20px;
    margin-left: 400px;
    width: fit-content
}

.transparentBackground-edit {
    background-color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 0 !important;
    padding: 7px;
    margin-top: 30px;
    margin-left: 525px;
    width: fit-content
}

/* navigationbar styles */
a {
    text-decoration: none;
    color: white;
    font-size: 150%;
}

.logo-image {
    width: 200px;
    height: 50px;
    margin-right: 30px;
    margin-left: -120px
        /* Agrega esta línea */
}

.logo {
    font-size: 150%;
    font-family: 'American Typewriter';
}

.sign {}

.navLinks {
    font-size: 120%;
    color: white;
    margin-left: 10px;
    font-family: 'American Typewriter';
}

.cardLink {
    text-decoration: none;
}

.welcome {
    margin-left: 150px;
    color: #040404;
    font-weight: bold;
}

.cutomBoton:hover {
    font-weight: bold;
}

.navigation-container {
    margin-bottom: 0;
}

.homeText {
    --bs-bg-opacity: 0.5 !important;
    width: 70%;
    font-weight: bold;
}


.cardContentText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.borderOff {
    border-radius: 0 !important;
}


.cardClass {
    margin: 24px auto
}

.homeTextLight {
    --bs-bg-opacity: 0.5 !important;
    color: black !important;
    width: 70%;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    margin: 17px auto;
    text-align: center;
    font-weight: bold;
}

.homeTextButton {
    --bs-bg-color: black !important;
    --bs-bg-opacity: 0.5 !important;
    font-family: Courier;
    width: 100%;
    border-radius: 0 !important;

}


/* Home Page style */
.home-container {
    background-size: cover;
    background-position: center;
    height: calc(100vh - 56px);
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 0;

}

.home-container .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}


.custom-dropdown .dropdown-menu {
    background-color: rgb(32, 30, 30);
    color: white
}

/* footer css */
footer {
    background-color: #212429;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    font-size: .6em;
    width: 100%;
    left: 0;
    bottom: 0
}


/* Edit form css */

.editForm {
    margin-top: 20px;
}

/* Event Page */
#eventsPage__container {
    padding-bottom: 0.1vh;
}

/* Event List Styles */

.title-container {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.editUserContainer {
    margin-top: 60px;
}

.pagination {
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    list-style: none;
    margin-bottom: 10%;
}

/* Eventsdetails */


.back-button {
    margin-right: 30px;
    margin-bottom: 30px;
}

.edit-button {
    margin-right: 20px;
    margin-top: 50px;
    width: 80px;

}

.favorite-button {
    font-size: 20px;
    height: auto;
    width: fit-content;
}

.favorite-button.active {
    color: #a90303;
    width: fit-content;
    height: auto;
    font-size: 20px;
}

.delete-button {
    margin-right: 20px;
    width: fit-content;
    margin-top: 5px;
}

.cardImg {

    align-items: center;
    height: auto !important;
    margin-left: 10rem;

}

.modal-90w {
    width: 100%;
    max-width: 500px;
}

.about-text {
    margin-top: 8rem;
    font-size: 1.2rem;
    padding: 50px;
}

.author-photo img {
    width: 50%;
    height: auto;
    margin-left: 10rem;
    margin-top: 9rem;
}